{% extends 'core/base.html' %}

{% block title %}Your Dashboard{% endblock title %}

{% block header %}
  {% include 'core/navbar.html' %}
{% endblock header %}

{% block content %}
{% if page_obj %}
  <main class="container my-5 py-5">
    <div class="row mt-5">
      <h1 class="display-6 text-center mb-5">My Articles</h1>
      {% for object in page_obj %}
      <div class="col-sm-3">
        <div class="card">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <h5 class="card-title" dir="auto">{{ object.title }}</h5>
            <p class="card-text" dir="auto">{{ object.text|slice:'120' }}</p>
            <div class="d-flex flex-column gap-2">
              <a  href="{{ object.get_absolute_url }}" class="btn btn-primary d-flex align-items-center gap-2 justify-content-center">
                <i class="fas fa-book-reader"></i>
                <span class="tooltiptext">Read this article</span>
              </a>
              <a href="{% url 'dashboard:update_post' object.slug %}" class="btn btn-secondary d-flex align-items-center gap-2 justify-content-center">
                <i class="fas fa-edit"></i>
                <span>Edit this article</span>
              </a>
              <a href="{% url 'dashboard:delete_post' object.slug %}" class="btn btn-danger d-flex align-items-center gap-2 justify-content-center">
                <i class="fas fa-pen"></i>
                <span>Remv this article</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <main class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 50vh;">
      <h1>Your dashboard is empty !</h1>
      <p class="note note-secondary">
        <strong>Info: </strong>you can create your first article (post) from <a href="{% url 'dashboard:add_post' %}">here</a> and enjoy writing your life into a digital platform :)
      </p>
    </main>
    {% endif %}

    <a class="floatingButton" href="{% url 'dashboard:add_post' %}">+</a>
  
  </main>
{% endblock content %}
