{% extends 'core/base.html' %}
{% load static %}

{% block style-link %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title %}Dashboard - {{ user.username }}{% endblock %}
{% block header-content %}{% endblock %}


{% block content %}
<div class="container">
	<div class="help">
		<li>You can access the changes menu of that post by clicking on the corners of the cards</li>
	</div>
    <div class="category">
        <div class="boxes">
            {% if page_obj %}
                {% for post in page_obj %}
                <div class="box">
                    <img src="{{ post.cover.url }}" alt="Cover Jpg">
                    <div class="title">
                        <h2>{{ post.title|slice:'10' }}</h2>
                        <div class="group">
                        	<div class="group-btn">
                        		<a class="btn change" href="{% url 'dashboard:update_post' post.slug %}"><i class="fa-solid fa-pen"></i></a>    
                        		<span class="tooltip">Change</span>                		
                        	</div>
                        	<div class="group-btn">
                        		<a class="btn delete" href="{% url 'dashboard:delete_post' post.slug %}"><i class="fa-solid fa-ban"></i></a>
                        		<span class="tooltip">Delete</span>
                        	</div>
                        	<div class="group-btn">
                        		<a class="btn view" href="{% url 'blogs:detail' post.slug %}"><i class="fa-solid fa-eye"></i></a>
                        		<span class="tooltip">View</span>
                        	</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h2 style="color: gray; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">You don`t have any post yet</h2>
            {% endif %}
        </div>
        <a class="add-post-btn" href="{% url 'dashboard:add_post' %}"><i class="fas fa-plus"></i></a>
    </div>
    {% include 'core/paginator.html' %}
</div>

{% endblock %}

<!-- Remove Footer -->
{% block footer %}{% endblock %}