.pagination {
	position: absolute;
	left: 50%;
	bottom: 50px;
	transform: translateX(-50%);
	background-color: lightgray;
	padding: 20px;
	border-radius: 10px;
}

.step-links a{
	text-decoration: none;
	background-color: var(--primary-color);
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 45px;
}


@media screen and (max-width: 840px) {
	.pagination {
		position: relative;;
		margin-top: 100px;
		width: 100%;
		padding: 10px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}