.my-form {
    display: flex;
    padding: 5px;
    gap: 5px;
    flex-wrap: nowrap;
}

.my-form input[type="search"] {
    background: #fff;
    outline: none;
    border: none;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    padding: 10px 20px;
    box-shadow: 3px 3px 5px #262626;
    flex-grow:1;
    transition: .2s border;
}


.my-form input[type="search"]:focus {
    background: #fff;
    border-bottom: 4px solid var(--mdb-blue);
} 

.floatingButton {
    width: 80px;
    height: 80px;
    position: fixed;
    background-color: var(--mdb-success);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    box-shadow: 0 0 10px var(--mdb-success);
    bottom: calc(100% - 95%);
    right: calc(100% - 95%);
    z-index: 99;
    transition: .2s transform, .2s background-color;
}

.floatingButton:hover {
    color: #fff;
    background-color: var(--mdb-blue);
    transform: rotate(45deg);
}
