{% extends 'core/base.html' %}

{% block title %}Login{% endblock title %}

{% block header %}
	{% include 'core/navbar.html' %}
{% endblock header %}

{% block content %}
	<main class="container my-5 d-flex justify-content-center align-items-center" style="background: rgba(57, 63, 84, 0.8);min-width: 100%;display: grid; place-items:center; min-height: 100vh;">
		<div class="row" style="width: 100%; display: flex; justify-content: center;">
			<div class="col-sm-4">
				<form class="input-group flex-nowrap flex-column gap-4" method="POST">
					{% csrf_token %}
					<h1 class="display-4 text-white text-center">Login</h1>
				  <div class="webflow-style-input rounded">
					<input class="" name="username" type="text" placeholder="What's your username?"></input>
				  </div>
				  <div class="webflow-style-input rounded">
					<input class="" name="password1" type="password" placeholder="Enter your password.."></input>
				  </div>
				  <button class="btn btn-secondary btn-lg rounded">Login</button>
				  <div class="text-white d-flex justify-content-between flex-wrap" style="cursor: default;">
					  <span>Don`t have an account yet? <a href="{% url 'signup' %}" class="text-info">SignUp</a></span>
					  <span>Forgot your password? <a href="#" class="text-info">Reset</a></span>
				  </div>
				</form>
			</div>
		</div>
	</main>

{% endblock content %}