{% extends 'core/base.html' %}
{% load static %}
{% load attrs %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block style-link %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
    {% endblock %}
	
    {% block title %}Login{% endblock %}
</head>
<body>
    {% block header-content %}{% endblock %}
    {% block content %}

    <div class="container">
        {% include 'core/messages.html' %}
        <form method="POST" action="{% url 'login' %}" class="login-form">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="login-form-control">
                {{ form.username.errors }}
                {{ form.username|placeholder:'Enter the username or email' }}
                <label for="{{ form.username.id_for_label }}">Username</label>
            </div>
            <div class="login-form-control">
                {{ form.password.errors }}
                {{ form.password|placeholder:'Enter the password' }}
                <label for="{{ form.password.id_for_label }}">Password</label>
            </div>
            <button class="login-form-button">Login</button>
            <div class="login-form-footer">
                <a class="login-form-footer-button" href="">Forgot Your Password? click here</a>
                <a class="login-form-footer-button" href="{% url 'signup' %}">Don`t have an account? sign up</a>
            </div>
        </form>
    </div>
    {% endblock %}

    {% block footer %}{% endblock %}
    <!-- <footer>CopyRight</footer> -->

    <script src="../static/js/main.js"></script>
</body>
</html>