{% extends 'core/base.html' %}

{% block title %}Register{% endblock title %}

{% block header %}
    {% include 'core/navbar.html' %}
{% endblock header %}

{% block content %}
    <main class="container my-5 d-flex justify-content-center align-items-center" style="background: rgba(57, 63, 84, 0.8);min-width: 100%;display: grid; place-items:center; min-height: 100vh;">
        <div class="row" style="width: 100%; display: flex; justify-content: center;">
            <div class="col-sm-4">
                <form class="input-group flex-nowrap flex-column gap-4" method="POST">
                    {% csrf_token %}
                    <h1 class="display-4 text-white text-center">Sign Up</h1>
                  <div class="webflow-style-input rounded">
                    <input class="" name="username" type="text" placeholder="Enter your username.."></input>
                  </div>
                  <div class="webflow-style-input rounded">
                    <input class="" name="email" type="text" placeholder="Enter your email.. (optional)"></input>
                  </div>
                  <div class="webflow-style-input rounded">
                    <input class="" name="password1" type="password" placeholder="Enter your password.."></input>
                  </div>
                  <div class="webflow-style-input rounded">
                    <input class="" name="password2" type="password" placeholder="Confirm your password.."></input>
                  </div>
                  <button class="btn btn-secondary btn-lg rounded">Register</button>
                  <div class="text-white d-flex justify-content-center flex-wrap" style="cursor: default;">
                      <span href="#">Already have an account? <a href="{% url 'login' %}" class="text-info">SignIn</a></span>
                  </div>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}