{% extends 'core/base.html' %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
  <main class="container my-5">
    <article>
      <h2 dir="auto">{{ object.title }}</h2>
      <p dir="auto">{{ object.text }}</p>
      <figure class="mt-5">
        <figcaption class="blockquote-footer">
          <strong>{{ object.author }}</strong> <cite title="Source Title">{{ object.created }}</cite><br>
        </figcaption>
        <strong>updated at: </strong> <cite title="Source Title">{{ object.updated }}</cite>
      </figure>
    </article>
  </main>
{% endblock content %}
