{% extends 'core/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  <main class="container my-5">
    {% if user.is_authenticated %}
    <p class="note note-success">
      <strong>Information: </strong>Welcome back dear {{ user.username }}, we happy to see you again
      if you wanna change your profile (...) just click that avatar on the top-right of the navbar and
      you will redirect to settings page, we hope you enjoy staying with us thanks.
    </p>
    {% else %}
    <p class="note note-info">
      <strong>New info: </strong>Hi dear visitor if you are new here please first create 
      an account and login to blog then continue it`s better experiance for you thanks :)
    </p>
    {% endif %}
    <div class="row">
      <article>
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium distinctio odio fugiat sint, pariatur harum quasi laborum animi deleniti ratione, neque tempora, repellat nulla nostrum illum vel fuga repudiandae laboriosam.
        Perferendis ipsa iste, quia commodi quasi obcaecati eligendi impedit iure unde quam accusamus totam, vitae eveniet maiores sunt aut omnis voluptatum, inventore enim error quo repellendus voluptate quos! Ducimus, in?
        Omnis ipsam natus quod! Dolore officiis iusto sed cumque? Et, error iste enim ratione totam veritatis laborum. Qui delectus similique quam asperiores a eius quod doloremque, molestias maiores illo deserunt!
        Accusamus nam et nostrum velit! Optio placeat ipsum repudiandae necessitatibus unde voluptatibus, suscipit culpa. Sed beatae porro architecto officia nihil, fuga fugit sint ipsam qui debitis minima! Numquam, facere quam.
        Repellat illum totam molestiae ab corporis ad nesciunt, eum vero magnam quasi non sint necessitatibus deleniti voluptate odit quia sequi excepturi adipisci corrupti ipsum odio. Suscipit, dolores voluptate! Et, perferendis.
        Eaque doloribus nisi nihil hic sed fugiat, laborum at quibusdam esse, voluptatibus, rem nam aut! Eius consectetur velit ducimus, cupiditate incidunt veniam explicabo sapiente modi? Nisi rem hic aliquid quia.
        Tempora laboriosam, praesentium provident culpa sit repellendus at dolorem labore porro ipsam. Eaque totam, explicabo at ad quas eligendi nam nihil sapiente numquam, nostrum reprehenderit vero minima enim, temporibus dolorem!
        Labore ut alias fugit adipisci delectus consectetur ad eos id voluptate sed dolorem, et optio quisquam iusto cum at, reprehenderit iste veniam necessitatibus ipsam numquam nihil unde aliquid deleniti. Iure.
        Doloribus atque commodi libero voluptatibus quod voluptatem sapiente non assumenda, voluptas necessitatibus perspiciatis nam illo fugiat. Tempore iusto nulla nobis itaque. Architecto nam soluta dicta provident sapiente quidem totam commodi?
        Obcaecati aliquam ipsum quidem nostrum consequuntur reiciendis at, numquam, itaque rem iusto molestias magni. Debitis ea necessitatibus aut, eum totam quod ex veniam harum, ullam accusamus aliquid. Libero, debitis dolor.</p>
      </article>
    </div>
    <div class="row mt-5">
      <h1 class="display-6 text-center mb-5">Last Articles</h1>
      {% for object in posts %}
      <div class="col-sm-3">
        <div class="card">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
          <div class="card-body">
            <h5 class="card-title" dir="auto">{{ object.title }}</h5>
            <p class="card-text" dir="auto">{{ object.text|slice:'120' }}</p>
            <a href="{{ object.get_absolute_url }}" class="btn btn-primary">Read</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  
  </main>
{% endblock content %}
